In [2]:
import pandas as pd


df = pd.read_csv('WomanClothingReview.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [3]:
df = df.rename(columns={'Review Text' : 'Review',
                        'Recommended IND' : 'Recomended',
                        'Positive Feedback Count' : 'PostiveFeedbackCount',
                        'Division Name' : 'DivisionName',
                        'Class Name' : 'ClassName',
                        'Department Name' : 'DepartemenName',
                        'Clothing ID' : 'ClothingID'}

               )

In [4]:
df.head()

   Unnamed: 0  ClothingID  Age  ...    DivisionName DepartemenName  ClassName
0           0         767   33  ...       Initmates       Intimate  Intimates
1           1        1080   34  ...         General        Dresses    Dresses
2           2        1077   60  ...         General        Dresses    Dresses
3           3        1049   50  ...  General Petite        Bottoms      Pants
4           4         847   47  ...         General           Tops    Blouses

[5 rows x 11 columns]

In [5]:
X = df.drop(columns=['Unnamed: 0', 'ClothingID', 'Title', 'Age', 'Rating', 'PostiveFeedbackCount', 'DivisionName', 'DepartemenName', 'ClassName'],
            axis=1)

In [6]:
X.isna().sum()

Review        845
Recomended      0
dtype: int64

In [7]:
X_Review = X
X_Review.dropna()

X.tail()

                                                  Review  Recomended
23481  I was very happy to snag this dress at such a ...           1
23482  It reminds me of maternity clothes. soft, stre...           1
23483  This fit well, but the top was very see throug...           0
23484  I bought this dress for a wedding i have this ...           1
23485  This dress in a lovely platinum is feminine an...           1

In [10]:
from sklearn.model_selection import train_test_split


kalimat = X['Review'].values
label = X['Recomended'].values

kalimat_latih, kalimat_test, label_latih, label_test = train_test_split(kalimat, label, test_size=0.2)

In [11]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences


tokenizer = Tokenizer(num_words=300, oov_token='x')
tokenizer.fit_on_texts(kalimat_latih)
tokenizer.fit_on_texts(kalimat_test)

sequence_latih = tokenizer.texts_to_sequences(kalimat_latih)
sequence_test = tokenizer.texts_to_sequences(kalimat_test)


padded_latih = pad_sequences(sequence_latih)
padded_test = pad_sequences(sequence_test)

AttributeError: ignored